<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setup 2FA</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Style omitted for brevity -->
</head>
<body>
    <div class="header">
        <a href="{{url_for('home')}}">
          <img class="logo" src="/static/image/logo.png" />
        </a>
      </div>
    <div class="container-authenticator">
    <h2>Scan the QR Code with Google Authenticator App</h2>
    {% if img_data %}
    <!-- Display QR code image only if img_data is present -->
    <img src="data:image/png;base64,{{ img_data }}" alt="QR Code">
    {% endif %}
    
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
   
    <form action="{{ url_for('verify_2fa') }}" method="post">
        <input type="text" name="token" placeholder="Enter your OTP" required autofocus>
        <button class="register-btn" type="submit">Verify OTP</button>
    </form>
</div>
</body>
</html>
