<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Password Management System</title>
  </head>

  <body>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <div class="header">
      <a href="{{url_for('home')}}">
        <img class="logo" src="/static/image/logo.png" />
      </a>
      <div class="navbar">
        <a href="{{url_for('register')}}">
          <button class="register-btn">Register</button>
        </a>
      </div>
    </div>
    <div class="login-section">
      <div class="login-card">
        <h1>Login</h1>
        <form action="" method="post">
          <div class="email">
            <label for="username" class="form-label">Username</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
            />
          </div>
          <div class="password">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
          </div>
          <div class="remember-forgot">
            <div class="form-check">
              <input
                class="form-check-input primary"
                type="checkbox"
                value=""
                id="flexCheckChecked"
                name="remember"
                checked
              />
              <label class="form-check-label text-dark" for="flexCheckChecked">
                Remember me
              </label>
            </div>
            <a class="text-primary fw-bold" href="">Forgot Password?</a>
          </div>
          <a href="{{url_for('dashboard')}}">
            <button type="submit" class="btn" name="login">Login</button>
          </a>
          <div class="bottom">
            <p class="new">Don't have an account?</p>
            <a class="register text-primary" href="{{url_for('register')}}"
              >Sign Up</a
            >
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
